.cleanChecked{
    display: flex;
    order: -1;
  }
.buttonClearChecked{
    width: 65px;
    height: 25px;
    margin-left: 15px;
    margin-top: 5px;
    background-color: darkgrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
} 