.formProductCheckbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
   }
.buttonEnviar{
    width: 80px;
   height: 30px;
   margin-bottom: 20px;
background-color: darkgrey;
border: 7px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.productSelect{
    /* padding-top: 100px; */
}