
nav{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(58, 56, 56);
    max-height: 600px;
}

.navNotSelected{
    display: flex;
    background-color: rgb(58, 56, 56);
   
}

.navSelected{
    display: flex;
    background-color: rgb(233, 229, 229);
    color: black;
    
}

.navNotSelected:hover{
    display: flex;
    background-color: rgb(233, 229, 229);
    color: black;
   
}

.navSelected:hover{
    display: flex;
    background-color: rgb(58, 56, 56);
    color: white;
}

a{
    color: rgb(211, 203, 203);   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium; 
    text-decoration: none;
   
}